body{
    text-align: center;
    background-color: green;
    font-size: 50px;
}
#cabecera{
    color:blue;
    font-size: 20px;
    border: black solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}